__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
.DS_Store
.env
venv/
ENV/
.idea/
.vscode/
*.egg-info/

app_env/

backup.json
*.sqlite3
db.sqlite3

# Local/generated Django uploads
supplychain_test/media/
