kingfisher-intelligence.com {
  @static path /static/*

  handle @static {
    root * /srv/static
    file_server
    header Cache-Control "public, max-age=31536000, immutable"
  }

  handle {
    reverse_proxy web:8000
  }
}
